@model List<EShop.Domain.DomainModels.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All products</h2>

<div class="container">
    <div class="row">
        <a class="btn btn-success" asp-action="Create">Add New Product</a>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        var product = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row justify-content-center">
        }

        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 20rem; height: 30rem">
                <img src="@product.ProductImage" class="card-img-top" alt="@product.ProductImage" style="height: 50%">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.ProductDescription</p>
                    <h6>Price: @product.ProductPrice MKD</h6>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                </div>
                <div class="card-footer">
                   <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-secondary">Edit</a>
                   <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>

        @if(i%3 == 2) 
        {
            @:</div>    
        }
    }
    
</div>